@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Machine Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This category does not contain any engineers.</p>
}
else
{
  <h4>Engineers assigned to this machine:</h4>
  <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@join.Engineer.Description</li>
    }
  </ul>
}

<div class="row justify-content-start">
  <div class="col">
    <p>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</p>
  </div>
  <div class="col">
    <p>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</p>
  </div>
</div>

<div class="row justify-content-start">
  <div class="col">
    <p>@Html.ActionLink("Back to Machines", "Index")</p>
  </div>
  <div class="col">
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
  </div>
</div>
