@{
  Layout = "_Layout";
}

@model Factory.Models.Machine



<div class="row justify-content-start">
  <div class="col-4">
    <h3>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</h3>
    <h3>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</h3>
    <h3>@Html.ActionLink("Back to Machines", "Index")</h3>
    <h3>@Html.ActionLink("Home", "Index", "Home")</h3>
  </div>
  <div class="col-8">
    <div class="jumbotron">
      <h2><u>Machine Details</u></h2>
      <hr />
      <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>

          @if (@Model.JoinEntities.Count == 0)
          {
            <h3>No enginners assinged to this machine.</h3>
          }
          else
          {
            <h4>Engineers assigned:</h4>
            <ul style="list-style-type:none;">
              @foreach (var join in Model.JoinEntities)
              {
                <li>@join.Engineer.Description</li>
              }
            </ul>
          }
    </div>
  </div>
</div>
