@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<div class="row justify-content-start">
  <div class="col-4 menu">
    <h3>@Html.ActionLink("Back to List", "Index")</h3>
    <h3>@Html.ActionLink("Home", "Index", "Home")</h3>
  </div>
  <div class="col-8">
    <div class="jumbotron">
    <h2>Add machine to @Html.DisplayFor(model => model.Description)</h2>
    <br>
    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.EngineerId)

      @Html.Label("Select Machine")<span>&nbsp;</span>
      @Html.DropDownList("MachineId")
      <br><br>
      <input type="submit" value="save" />
    }
    </div>
  </div>
</div>